* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

html {
    background-color: rgb(58, 63, 67);
}


/* container 1 */
.cont1 {
    /* background-color: green; */
    background-image: url(../images/globe-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    width: 400px;
    display: flex;
    flex-direction: column;
    /* border :2px solid black; */
    padding: 20px;
    align-items: center;
}

.subheading, .heading {
    text-align: center;
}

.btn-wrap, .search-wrap{
    display: flex;
}

.btn, .search-field {
    margin: 8px 5px 0 0;
    color:black;
}
.search-field input {
    color:green;
}